.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 15px;
  background-color: whitesmoke;
}

.MuiButton-root {
  margin: 5px !important;
  color: purple !important;
  background-color: whitesmoke !important;
}

.MuiButton-root:hover {
  color: whitesmoke !important;
  background-color: purple !important;
}
