.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid lightgray;
  background-color: whitesmoke;
  /* position: fixed;
  top: 0;
  width: 100%; */
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-right {
  padding-right: 50px;
}

.header-name {
  border-bottom: 1px solid grey;
}
