/* .resources {
  display: flex;
  width: 500px;
} */

.resources-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  box-shadow: 10px 8px 8px 10px #888888;
  margin: 100px;
}

.resource-image {
  object-fit: contain;
  width: 100%;
  height: 300px;
}
